
body
{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}
/* Navigation Bar */
.navbar{
    padding: 10px 10px 10px 0px;
    background-color: #28a7e9;
    transition: all ease 0.4s;
    
  }
  .navbar-brand{
    font-size: 22px;
    color: white !important;
  }
  .brand
  {
    color:white;
    font-size: 16px;
    margin-top: 15px;
  }
  .navbar .navbar-nav li a{
    font-size: 16px;
    color: white;
  }

  /* Animation */
.animate{
    padding: 0px 10px 0px 0px;
    transition: all ease 0.4s;
  }

  /* Jumbotron */
.jumbotron{
    font-size: 25px;
    margin-top: 110px;
    width:100%;
   
}

  /* main */
  .list
  {
    background-color: #0080ff;
    
  }
  .list1
  {
    top:70px;
    font-size: 20px;
    
    padding: 10px;
    
  }
  
  .tm
  {
    position:relative;
    
    
  }
  .text-block
  {
    position: absolute;
    color:black;
    bottom:85px;
    font-size: 13px;
    padding-left:40px ;
  }
  .im 
  {
    margin: 50px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 150px;
  }
  hr.new {
    border: 10px solid yellowgreen;
    border-radius: 5px;
  }
  .list2
  {
    font-size: 25px;
   
  }
  .icon
  {
    margin:10px;
  }
  .footer
  {
    background-color: grey;
    margin:50px;
    text-align: center;
    color: black;
  }
  